<div class="bg-light py-3">
    <div class="container">
        <div class="row">

            <div class="col-md-12 mb-0"><a href="/">Trang chủ</a> <span class="mx-2 mb-0">/</span> <a href="/cart">Giỏ
                    hàng</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Thanh toán</strong></div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12">
                <div class="border p-4 rounded" role="alert">
                    Bạn là thành viên? <a href="/login">Đăng nhập</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-5 mb-md-0">
                <h2 class="h3 mb-3 text-black">Thông tin giao hàng</h2>
                <div class="p-3 p-lg-5 border">
                    <div class="form-group row">
                        <div class="col-sm">
                            <label for="c_fname" class="text-black">Họ và tên <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="c_fname" name="c_fname">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-12">
                            <label for="c_address" class="text-black">Địa chỉ <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="c_address" name="c_address"
                                placeholder="Địa chỉ và tên đường">
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Ghi chú (toà nhà, số phòng)">
                    </div>

                    <div class="form-group row">
                        <div class="col-md-6">
                            <label for="c_ward" class="text-black">Phường <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="c_ward" name="c_ward">
                        </div>
                        <div class="col-md-6">
                            <label for="c_district" class="text-black">Quận <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="c_district" name="c_district">
                        </div>
                    </div>

                    <div class="form-group row mb-5">
                        <div class="col-md-6">
                            <label for="c_email_address" class="text-black">Địa chỉ email <span
                                    class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="c_email_address" name="c_email_address">
                        </div>
                        <div class="col-md-6">
                            <label for="c_phone" class="text-black">Số điện thoại <span
                                    class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="c_phone" name="c_phone"
                                placeholder="Điện thoại">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="c_create_account" class="text-black" data-toggle="collapse"
                            href="#create_an_account" role="button" aria-expanded="false"
                            aria-controls="create_an_account"><input type="checkbox" value="1" id="c_create_account">
                            Tạo tài khoản</label>
                        <div class="collapse" id="create_an_account">
                            <div class="py-2">
                                <p class="mb-3">Tạo tài khoản mới với thông tin cung cấp bên trên.</p>
                                <div class="form-group">
                                    <label for="c_account_password" class="text-black">Mật khẩu</label>
                                    <input type="email" class="form-control" id="c_account_password"
                                        name="c_account_password">
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="c_ship_different_address" class="text-black" data-toggle="collapse"
                            href="#ship_different_address" role="button" aria-expanded="false"
                            aria-controls="ship_different_address"><input type="checkbox" value="1"
                                id="c_ship_different_address"> Gửi tặng bạn bè, người thân</label>
                        <div class="collapse" id="ship_different_address">
                            <div class="py-2">


                                <div class="form-group row">
                                    <div class="col-sm">
                                        <label for="c_fname" class="text-black">Họ và tên <span
                                                class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="c_fname" name="c_fname">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label for="c_address" class="text-black">Địa chỉ <span
                                                class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="c_address" name="c_address"
                                            placeholder="Địa chỉ và tên đường">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Ghi chú (toà nhà, số phòng)">
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <label for="c_ward" class="text-black">Phường <span
                                                class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="c_ward" name="c_ward">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="c_district" class="text-black">Quận <span
                                                class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="c_district" name="c_district">
                                    </div>
                                </div>

                                <div class="form-group row mb-5">
                                    <div class="col-md-6">
                                        <label for="c_email_address" class="text-black">Địa chỉ email <span
                                                class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="c_email_address"
                                            name="c_email_address">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="c_phone" class="text-black">Số điện thoại <span
                                                class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="c_phone" name="c_phone"
                                            placeholder="Điện thoại">
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="c_order_notes" class="text-black">Ghi chú</label>
                        <textarea name="c_order_notes" id="c_order_notes" cols="30" rows="5" class="form-control"
                            placeholder="Ghi chú cho đơn hàng"></textarea>
                    </div>

                </div>
            </div>
            <div class="col-md-6">

                <div class="row mb-5">
                    <div class="col-md-12">
                        <h2 class="h3 mb-3 text-black">Mã giảm giá</h2>
                        <div class="p-3 p-lg-5 border">

                            <label for="c_code" class="text-black mb-3">Nhập mã giảm giá của bạn để nhận ưu đãi.</label>
                            <div class="input-group w-75">
                                <input type="text" class="form-control" id="c_code" placeholder="SALE50"
                                    aria-label="Coupon Code" aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-primary btn-sm" type="button" id="button-addon2">Kiểm
                                        tra</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row mb-5">
                    <div class="col-md-12">
                        <h2 class="h3 mb-3 text-black">Đơn hàng</h2>
                        <div class="p-3 p-lg-5 border">
                            <table class="table site-block-order-table mb-5">
                                <thead>
                                    <th>Sản phẩm</th>
                                    <th>Tổng tiền</th>
                                </thead>
                                <tbody>
                                    {{#each data}}
                                    <tr>
                                        <td>{{this.name}} <strong class="mx-2">x</strong> {{this.count}}</td>
                                        <td>{{this.total}}</td>
                                    </tr>
                                    {{/each}}
                                    <tr>
                                        <td class="text-black font-weight-bold"><strong>Tổng tạm tính</strong></td>
                                        <td class="text-black">{{sum}}</td>
                                    </tr>
                                    <tr>
                                        <td class="text-black font-weight-bold"><strong>Tổng cộng</strong></td>
                                        <td class="text-black font-weight-bold"><strong>{{sum}}</strong></td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="border p-3 mb-3">
                                <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapsebank"
                                        role="button" aria-expanded="false" aria-controls="collapsebank">Direct Bank
                                        Transfer</a></h3>

                                <div class="collapse" id="collapsebank">
                                    <div class="py-2">
                                        <p class="mb-0">Make your payment directly into our bank account. Please use
                                            your Order ID as the payment reference. Your order won’t be shipped until
                                            the funds have cleared in our account.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="border p-3 mb-3">
                                <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapsecheque"
                                        role="button" aria-expanded="false" aria-controls="collapsecheque">Cheque
                                        Payment</a></h3>

                                <div class="collapse" id="collapsecheque">
                                    <div class="py-2">
                                        <p class="mb-0">Make your payment directly into our bank account. Please use
                                            your Order ID as the payment reference. Your order won’t be shipped until
                                            the funds have cleared in our account.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="border p-3 mb-5">
                                <h3 class="h6 mb-0"><a class="d-block" data-toggle="collapse" href="#collapsepaypal"
                                        role="button" aria-expanded="false" aria-controls="collapsepaypal">Paypal</a>
                                </h3>

                                <div class="collapse" id="collapsepaypal">
                                    <div class="py-2">
                                        <p class="mb-0">Make your payment directly into our bank account. Please use
                                            your Order ID as the payment reference. Your order won’t be shipped until
                                            the funds have cleared in our account.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <button class="btn btn-primary btn-lg py-3 btn-block"
                                    onclick="window.location='/checkout/done'">Đặt hàng</button>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- </form> -->
    </div>
</div>